<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hcb.zzb.dao.interfaceClass.HomepageBannerMapper" >
  <resultMap id="BaseResultMap" type="com.hcb.zzb.dto.HomepageBanner" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="delete_at" property="deleteAt" jdbcType="TIMESTAMP" />
    <result column="operation_info" property="operationInfo" jdbcType="VARCHAR" />
    <result column="operation_picture" property="operationPicture" jdbcType="VARCHAR" />
    <result column="is_display" property="isDisplay" jdbcType="INTEGER" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_at, update_at, delete_at, operation_info, operation_picture, is_display, 
    creater
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from homepage_banner
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from homepage_banner where is_display = 1
  </select>
  
  <select id="searchByMap" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select 
    <include refid="Base_Column_List" />
    from homepage_banner
    where delete_at is null
    <if test="operation_info !='' and operation_info != null ">
		and operation_info like CONCAT('%', #{operation_info,jdbcType=VARCHAR}, '%')
	</if>
	<if test="is_display !='' and is_display != null">
		and is_display like CONCAT('%', #{is_display,jdbcType=INTEGER}, '%')
	</if>
	order by create_at desc LIMIT #{start},#{end}
  </select>
  
  <select id="countByMap" resultType="java.lang.Integer" parameterType="java.util.HashMap" >
   select count(1) from homepage_banner
    where delete_at is null
    <if test="operation_info !='' and operation_info != null">
		and operation_info like CONCAT('%', #{operation_info,jdbcType=VARCHAR}, '%')
	</if>
	<if test="is_display !='' and is_display != null">
		and is_display like CONCAT('%', #{is_display,jdbcType=VARCHAR}, '%')
	</if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from homepage_banner
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hcb.zzb.dto.HomepageBanner" >
    insert into homepage_banner (id, create_at, update_at, 
      delete_at, operation_info, operation_picture, 
      is_display, creater)
    values (#{id,jdbcType=INTEGER}, #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP}, 
      #{deleteAt,jdbcType=TIMESTAMP}, #{operationInfo,jdbcType=VARCHAR}, #{operationPicture,jdbcType=VARCHAR}, 
      #{isDisplay,jdbcType=INTEGER}, #{creater,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hcb.zzb.dto.HomepageBanner" >
    insert into homepage_banner
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
      <if test="deleteAt != null" >
        delete_at,
      </if>
      <if test="operationInfo != null" >
        operation_info,
      </if>
      <if test="operationPicture != null" >
        operation_picture,
      </if>
      <if test="isDisplay != null" >
        is_display,
      </if>
      <if test="creater != null" >
        creater,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteAt != null" >
        #{deleteAt,jdbcType=TIMESTAMP},
      </if>
      <if test="operationInfo != null" >
        #{operationInfo,jdbcType=VARCHAR},
      </if>
      <if test="operationPicture != null" >
        #{operationPicture,jdbcType=VARCHAR},
      </if>
      <if test="isDisplay != null" >
        #{isDisplay,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hcb.zzb.dto.HomepageBanner" >
    update homepage_banner
    <set >
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteAt != null" >
        delete_at = #{deleteAt,jdbcType=TIMESTAMP},
      </if>
      <if test="operationInfo != null" >
        operation_info = #{operationInfo,jdbcType=VARCHAR},
      </if>
      <if test="operationPicture != null" >
        operation_picture = #{operationPicture,jdbcType=VARCHAR},
      </if>
      <if test="isDisplay != null" >
        is_display = #{isDisplay,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hcb.zzb.dto.HomepageBanner" >
    update homepage_banner
    set create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP},
      delete_at = #{deleteAt,jdbcType=TIMESTAMP},
      operation_info = #{operationInfo,jdbcType=VARCHAR},
      operation_picture = #{operationPicture,jdbcType=VARCHAR},
      is_display = #{isDisplay,jdbcType=INTEGER},
      creater = #{creater,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>